iot-webapp-flow.json
[{"id":"1ce0b80d.d9b068","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"45acdebe.243a6","type":"ibmiot in","z":"1ce0b80d.d9b068","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"546c0e793704","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":215.5,"y":71,"wires":[["782c9406.cac94c"]]},{"id":"782c9406.cac94c","type":"function","z":"1ce0b80d.d9b068","name":"Recieve sensor data","func":"\nreturn { payload: msg.payload };","outputs":1,"noerr":0,"x":474.5,"y":133,"wires":[["fb45868d.3804e8","c57a437d.09097"]]},{"id":"fb45868d.3804e8","type":"debug","z":"1ce0b80d.d9b068","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":754.5,"y":74,"wires":[]},{"id":"c57a437d.09097","type":"function","z":"1ce0b80d.d9b068","name":"Store data","func":"flow.set(\"sensorData\", msg.payload.d);","outputs":1,"noerr":0,"x":757.5,"y":224,"wires":[[]]},{"id":"1722131e.b3510d","type":"http in","z":"1ce0b80d.d9b068","name":"Data endpoint","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":264.5,"y":362,"wires":[["db1ca6d8.b2fd98"]]},{"id":"db1ca6d8.b2fd98","type":"function","z":"1ce0b80d.d9b068","name":"get data","func":"var latestData = flow.get(\"sensorData\");\n\nvar response = {}\n\nresponse.payload = latestData;\nresponse.req = msg.req;\nresponse.res = msg.res;\n\nreturn response;\n\n","outputs":1,"noerr":0,"x":510.5,"y":400,"wires":[["c1c7d40a.d7c7e8","97c57da3.9d639"]]},{"id":"c1c7d40a.d7c7e8","type":"http response","z":"1ce0b80d.d9b068","name":"output","statusCode":"","headers":{"Access-Control-Allow-Origin":"*"},"x":739.5,"y":457,"wires":[]},{"id":"97c57da3.9d639","type":"debug","z":"1ce0b80d.d9b068","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":737.5,"y":380,"wires":[]}]