iot-webapp-flow.json

[{"id":"ef81c3ac.373fa","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4fb315e1.ac88cc","type":"function","z":"ef81c3ac.373fa","name":"store data","func":"flow.set(\"sensorData\", msg.payload.d);\nreturn { payload: msg.payload.d };","outputs":1,"noerr":0,"x":400,"y":207,"wires":[["b1604822.f43c78"]]},{"id":"b1604822.f43c78","type":"debug","z":"ef81c3ac.373fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":587,"y":207,"wires":[]},{"id":"49599f5.88e146","type":"ibmiot in","z":"ef81c3ac.373fa","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"313848f37982","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":247,"y":207,"wires":[["4fb315e1.ac88cc"]]},{"id":"4fd115.ccc76eec","type":"http response","z":"ef81c3ac.373fa","name":"","statusCode":"","headers":{"Access-Control-Allow-Origin":"*"},"x":616,"y":373,"wires":[]},{"id":"97862a33.52ee28","type":"debug","z":"ef81c3ac.373fa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":592,"y":307,"wires":[]},{"id":"60c47dee.bad594","type":"function","z":"ef81c3ac.373fa","name":"get data","func":"msg.payload = flow.get(\"sensorData\");\nreturn msg;","outputs":1,"noerr":0,"x":407,"y":305,"wires":[["97862a33.52ee28","4fd115.ccc76eec"]]},{"id":"7186ee42.1e662","type":"http in","z":"ef81c3ac.373fa","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":248.5,"y":305,"wires":[["60c47dee.bad594"]]}]